:host{
    display: block;
    height: 20px;
    width: 300px;
    margin: 8px;
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    div{
      background-color: rgb(30, 52, 255);
      height: 100%;
      width: 60%;
    }
  }
  